/** NOTE: Relative to font-size of the root element: rem changes all font size relative to the set root html */
/** while the 62.5% solution makes calculation easier (as the font sizes in px are 10 times their rem values */
/* body { font-size:62.5%; } =10px */
/* h1 { font-size: 2.4em; } =24px */
/* p { font-size: 1.4em; } =14px */
/** ================================================================== */
html {
  /* font-size: 10px; */
  font-size: 62.5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.scrum-font{
font-family: 'Luckiest Guy', cursive;

 /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Sacramento', cursive; */ 
  /* Use sacramento for my sig */
}
.animate__rubberBand{
  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}
.header{
  /* text-align: center; */
  /* justify-content: center; */
  padding: 2rem 0rem;
  background-color: rgb(232, 232, 232);
}
.hero-text{
  font-size: 5.5rem;
  /* font-size:580%; */
  z-index: 99;
  padding-top: -8px;
  position: absolute;
  margin-top: 3rem;
  padding-left: 8%;
  display: inline;
  /* color:white */
  /* text-align: center !important; */
}
.hero-sub-text{
  position: absolute;
  z-index: 99;
  /* text-align: center; */
  padding-left: 11.5%;
  font-size: 2rem;
  margin-top: 10.8rem;
  
}

.hero-img{
  height: 17rem;
  padding-left: 5%;
  /* color:white */
}
.footer{
  background-color: rgb(232, 232, 232);
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */