/** NOTE: Relative to font-size of the root element: rem changes all font size relative to the set root html */
/* Current html set to 16 px to convert px to rem divide px by 16 to get rem
/* Example 24px = 1.5rem | 24/16=1.5 */
/** ================================================================== */
html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button{
  text-align: center;
  width: 100%;
  padding: 5% 0%;
  /* margin-top: 2.4rem; */
  font-size: 1.5rem;
}
.bold{
  font-weight: 700;
}
.pt-3{
margin-top: 3rem;
}
/* =================================Header */
.scrum-font{
font-family: 'Luckiest Guy', cursive;

 /* font-family: 'Rock Salt', cursive; */
  /* font-family: 'Sacramento', cursive; */ 
  /* Use sacramento for my sig */
}
.animate__rubberBand{
  animation: rubberBand; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2.5s; /* don't forget to set a duration! */
}
.header{
  /* text-align: center; */
  /* justify-content: center; */
  padding: 2rem 0rem;
  background-color: rgb(232, 232, 232);
}
.hero-text{
  font-size: 5.5rem;
  /* font-size:580%; */
  z-index: 99;
  padding-top: -8px;
  position: absolute;
  margin-top: 3rem;
  padding-left: 8%;
  display: inline;
  /* color:white */
  /* text-align: center !important; */
}
.hero-sub-text{
  position: absolute;
  z-index: 99;
  /* text-align: center; */
  padding-left: 11.5%;
  font-size: 2rem;
  margin-top: 10.8rem;
  
}

.hero-img{
  height: 17rem;
  padding-left: 5%;
  /* color:white */
}
.chat-bubble {
  margin: 4rem;
  display: inline-block;
  position: relative;
	width: 30rem;
	height: auto;
  background-color: #fbcd59;
  border: .25rem solid #d6954b;
  border-radius: 1.2rem;
}
.chat-text{
  padding: 1rem;
	text-align: left;
  line-height: 1.5rem;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -1.6rem;
	right: auto;
  top: 8rem;
	bottom: auto;
  border: .8rem solid;
  border-color: #fbcd59 #fbcd59 transparent transparent;
}
/*=============================== avatar section */
.a-section-main{
text-align: center;
}
.avatar-box0{
  border: 2px solid grey;
   cursor: help;
   text-align:center;
   padding:0rem 8.5% 1rem;
   
 }
.avatar-box{
 border: 2px solid grey;
  cursor: help;
  text-align:center;
  padding:0rem 6% 1rem;
}
/* .avatar-box b{
 
   text-align:center;
   padding:0rem 21% 0rem;
 } */
.avatar-box2{
  border: 2px solid grey;
   cursor: help;
   text-align:center;
   padding:0rem 9.5% 1rem;
 }
 .avatar-bio-text{
   /* margin-top: 4rem; */
 }
 .button-style2{
  text-align: center;
  width: 110%;
  padding: 3% 4%;
  font-size: .9rem;
  background-color: transparent;
  border: .19rem solid #d6954b;
  text-decoration: none !important;
  border-radius: 1.5rem;
  box-shadow: .625rem .625rem #888888;
  /* box-shadow: .7rem .7rem #888888; */
  color: rgb(12, 12, 12);
}

.button-style2:active {
  box-shadow: 0 .3rem #666;
  transform: translateY(.2rem);
}
.button-style2 a{
  background-color: transparent;
  color: rgb(12, 12, 12);
  padding:.55rem;
  text-decoration: none !important; 
}
.button-style2:hover,.button-style2:visited,.button-style2:link{
  text-decoration: none !important;
  color: black;
  /* font-size: 15px; */
}
/*=============================== summary section */
.summary-container{
  /* border:.1rem solid pink; */
   padding:4rem 0rem; 
   text-align:center;
   background-color: #f6f5f3;
   max-width: 99%;
}
.summary-col{
  margin-top: 2.5rem;
 
}
.summary-col i{
  /* margin-top: 2.5rem; */
  font-size: 3.6rem;
  color: #d6954b;
  padding-bottom: 1rem;
}
.summary-sub-text{
  font-size: 1.5rem;
}
/* img .icon-attributes{
  color: red;
} */
/*=============================== resource section */
.resource-section{
 margin-top: 2rem;
}
.avatar-resource{
  text-align: center;

}
.button-margin{
  margin-top: 9rem;
}
.button-style{
  text-align: center;
  width: 100%;
  padding: 5% 0%;
  margin-top: 2.4rem;
  font-size: 1.5rem;

  background-color: transparent;
  border: .19rem solid #d6954b;
  text-decoration: none !important;
  border-radius: 1.5rem;
  box-shadow: .625rem .625rem #888888;
  /* box-shadow: .7rem .7rem #888888; */
  color: rgb(12, 12, 12);
}

.button-style:active {
  box-shadow: 0 .3rem #666;
  transform: translateY(.2rem);
}
.button-style a{
  background-color: transparent;
  color: rgb(12, 12, 12);
  padding:.55rem;
  text-decoration: none !important; 
}
.button-style:hover,.button-style:visited,.button-style:link{
  text-decoration: none !important;
  color: black;
  /* font-size: 15px; */
}
/* =================================== */

.footer{
  background-color: rgb(232, 232, 232);
}
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */